*,
*:before,
*:after {
    box-sizing: border-box;
}

form {
    text-align: right;
    padding-right: 10px;
}

.connect {
    margin: 10px;
    width: auto;
    text-align: center;
}

#bloc_event {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-color: ;
    height: 100%;
    padding: 10px;
}

#zoneAffiche > img {
    height: 100%;
    object-fit: scale-down;
    max-width: 100%;
    min-width: 100%;
    vertical-align: top;
}

#zoneAffiche {
    grid-area: 1/2/7/6;
}

#zoneTitre {
    grid-area: 1/8/2/14;
}

#zoneLieu {
    grid-area: 3/8/4/11;
}

#zoneRenseignement {
    grid-area: 3/12/4/14;
}

#zoneDescription {
    grid-area: 5/8/8/14;
    overflow: auto;
}


