*,
*:before,
*:after {
    box-sizing: border-box;
}

#form_page_event {
    text-align: right;
    padding-right: 10px;
}


#bloc_event {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-color: ;
    height: 100%;
    padding: 10px;
}

#zoneAfficheDef > img {
    height: 100%;
    object-fit: scale-down;
    max-width: 100%;
    min-width: 100%;
    vertical-align: top;
}

#zoneAfficheDef {
    grid-area: 1/2/7/6;
}

#zoneTitreDef {
    grid-area: 1/8/2/14;
}

#zoneLieuDef {
    grid-area: 3/8/4/11;
}

#zoneRenseignementDef {
    grid-area: 3/12/4/14;
}

#zoneDescriptionDef {
    grid-area: 5/8/8/14;
    overflow: auto;
}


