*,
*:before,
*:after {
    box-sizing: border-box;
}

.connect {
    margin: 10px;
    width: auto;
    text-align: center;
}

#futurEvent, #archive {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 90vw;
}

.affiche {
	margin: 10px;
}

@media (max-width: 818px) {
    #resultat {
        justify-content: center;
    }